/* Customize for phones */
@media (max-width: 425px) {
  	body {
    	font-family: 'Source Sans Pro', sans-serif;
  	}

  	.container {
    	padding: 0px;
  	}

  	.navbar {
    	background-color: #262828;
    	margin-bottom: 0px;
  	}

  	.navbar-header {
    	padding-left: 15px;
  	}
	
	.navbar-header h1 {
		text-align: left;
		margin-bottom: 0px;
		color: white;
	}

	.navbar-header h2 {
		text-align: left;
		color: white;
		margin-top: 0px;
		font-weight: 300;
	}

  	.container .jumbotron {
  		background: transparent;
    	padding: 0px;
    	margin-right: 15px;
    	margin-bottom: 0px;
  	}

  	.container .jumbotron h2, h3, h4, p {
		padding-left: 15px;
		text-align: left;
	}

	.jumbotron p {
		margin-bottom: 0px;
		font-size: 16px;
	}
	
	.jumbotron p, ul {
		font-size: 16px;
		font-weight: 400;
	}

  	.footer {
  		padding: 0;
    	color: #777;
  	}

	#copyright p {
  		text-align: center;
  		padding: 0px;
  	}

  	#social-networking-icons {
  		text-align: center;
  	}
  	#social-networking-icons a {
    	color: #70726F;
      	padding: 14px;
      	-webkit-transition: all .5s ease;
      	transition: all .5s ease;
  	}

  	#social-networking-icons a:hover {
      	color: #70726F;
      	-webkit-transition: all .5s ease;
      	transition: all .5s ease;
  	}  	
}

/* Customize container for tablets & desktops*/
@media (min-width: 768px) {
	body {
  		padding-top: 40px;
  		padding-bottom: 40px;
    	font-family: 'Source Sans Pro', sans-serif;
  	}
	
  	.container {
    	padding-left: 15px;
    	padding-right: 15px;
  	}
	
  	.navbar {
  		background-color: transparent;
  		background: transparent;
  		border-color: transparent;
  	}

	.navbar-header {
		padding-left: 15px;
	}
	
	.navbar-header h1 {
		margin-bottom: 0px;
	}

	.navbar-header h2 {
		margin-top: 0px;
		font-weight: 300;
	}

  	.container .jumbotron {
		background: transparent;
		padding: 0px;
	}

	.container .jumbotron h2, h3, h4, p {
		padding-left: 15px;
		text-align: left;
	}

	.jumbotron p, ul {
		font-size: 16px;
		font-weight: 400;
	}

  	.footer {
    	padding: 0;
    	color: #777;
  	}

  	#copyright {
  		text-align: left;
  		padding: 0px;
  	}
  	
  	#social-networking-icons {
  		text-align: right;
  	}
	#social-networking-icons a {
		color: #70726F;
      	font-size: 20px;
      	padding: 14px;
      	-webkit-transition: all .5s ease; /* Safari */
      	transition: all .5s ease;
	}
	
  	#social-networking-icons a:hover {
    	color: #70726F;
    	-webkit-transition: all .5s ease; /* Safari */
    	transition: all .5s ease;
  	}
}